@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Kanit";
    src: url("./fonts/Kanit-Regular.woff") format("woff"), url("./fonts/Kanit-Bold.woff") format("woff"), url("./fonts/Kanit-BoldItalic.woff") format("woff2");
    /* Add additional font formats if necessary */
    /* Specify the correct path to the font files */
}

:root {
    font-family: Kanit, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}